{% extends "employee_register/base.html" %}
{% load crispy_forms_tags %}


{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> 


<h2>ADD PROJECTS</h2>
<form action="" method="post" autocomplete="off">
    {% csrf_token %}

      <!-- {{ form.as_p }} -->  

    <p><label for="id_project_name">Project name:</label> <input type="text" name="project_name" maxlength="250" required="" id="id_project_name"></p>

    <!-- <p><label for="id_project_name">Project name:</label> <input type="text" name="project_name" maxlength="250" required="" id="id_project_name"></p> -->
    
    <p><label for="id_platform_name">Platform name:</label> 
    
      <select name="option_id" id="select-state" placeholder="Select An Option..." style="width: 400px;height:30px;">
                    
                    <option value = 'none'>Select an Option</option>
                    
                        <ul>
                    {% for i in emp_proj %}        
                        <option value="{{ i.platform_name }}" >{{ i.platform_name }} </option>
                    {% endfor %}    
                        </ul> 
                    
                    
      </select>



  

    <div class="row">
        <div class="col-md-8">
            <button type="submit" class="btn btn-info"><i class="fas fa-database"></i>
                Submit</button>
        </div>
        
    </div>

</form>

<script type="text/javascript">
  $(document).ready(function () {
      $('select').selectize({
          sortField: 'text'
      });
  });
 </script>     

{% endblock content %}